@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <BSNavbar IsExpand="true" IsDark="false" style="width: 100%;">
                <BSNavbarBrand Href="/">Biteline</BSNavbarBrand>
                <BSNav IsList="true" Class="mr-auto" IsNavbar="true">
                    <BSNavItem>
                        <BSNavLink IsActive="true" Href="/">Home</BSNavLink>
                    </BSNavItem>
                    <BSNavItem>
                        <BSNavLink IsActive="true" Href="/donateFood">Donate Food</BSNavLink>
                    </BSNavItem>
                </BSNav>
                <BSNav IsList="true" IsNavbar="true" Alignment="Alignment.Right">
                    <BSNavItem>
                        <BSNavLink IsActive="true" Href="/profile">Profile</BSNavLink>
                    </BSNavItem>
                    <BSNavItem>
                        <BSNavLink IsActive="true" Href="/logout">Logout</BSNavLink>
                    </BSNavItem>
                </BSNav>
            </BSNavbar>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>